
<body>
<div class="header">
  <div class="logo">
    <img [attr.src]="server+world.logo" alt="Logo" />
    <span class="logo-text">Knight Capitalist</span>
  </div>
  <div class="money">{{world.money}} <img src="../assets/images/Geo.webp" />
  </div>
  <div class="multiplier">Multiplicateur</div>
  <div class="worldname">{{world.name}}</div>
</div>

<div class="main">
  <div class="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link active">Unlocks</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Upgrades</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Managers</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Investors</a>
      </li>
    </ul>
  </div>


  
  <div class="product">
    <div> <app-product [prod]="world.products[0]"
      class="product col-md-6"></app-product> </div>
    <div> second produit </div>
    <div> troisieme produit </div>
    <div> quatrieme produit </div>
    <div> cinquieme produit </div>
    <div> sixieme produit </div>
  </div>



