body{
    border :2px solid black;
}
.round {
    width: 100px;
    height: 100px;
    border-radius: 50%
   }
   .lesdeux {
    position: relative;
   }

   .lepremier{
    display : flex;
    flex: 1;
   }

   .lepremier img {
    width : 40px;
    border: 1px solid black;
   }
   .lesecond {
    position: relative;
    bottom: -5px;
   
   }

   .buy{
    display : flex;
    flex :2;
    padding: 10px;

   }

.acheter {
	box-shadow:inset 0px 0px 0px -1px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.acheter:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.acheter:active {
	position:relative;
	top:1px;
}