

body{
    border :1px solid white;
    background-image: url(../../assets/images/product.jpg);
    margin : 2,5px;
    
}
.round {
    width: 40px;
    height: 400px;
    border-radius: 25%
   }
    .lesdeux {
    position: relative;
    margin : 5px;  
   }

   .lepremier{
    display : flex;
    flex: 1;
   }

   .lepremier img {
    width : 40px;
    height: 40px;
    border: 1px solid white;
    margin : 5px;
   }
   .lesecond {
    position: relative;
    bottom: -5px;
   
   }
   

   .buy,.Qte{
    display:inline-block;
    padding: 5px;

   }


.acheter {
	box-shadow:inset 0px 0px 0px -1px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background : none;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
    margin : 10px;
    font-family: 'Supernatural Knight';
}
.acheter:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}

.disabled{
    background:linear-gradient(to bottom, grey 5%, grey 100%);
	background-color:grey;
}

.disabled:hover{
    background:linear-gradient(to bottom, grey 5%, grey 100%);
	background-color:grey;
}

.acheter:active {
	position:relative;
	top:1px;
}

.acheter img {
    width : 10px;
}

.progressbar{
    height : 5px;
}

.revenu{
    margin:5px;
    border : 1 px solid black;


}

.revenu img{
    width: 20px;
} 

