/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Supernatural Knight"; }
@font-face {
    font-family: 'Supernatural Knight';
    src: url('./fonts/Supernatural_Knight.ttf');
    /* font-weight: normal;
    font-style: normal; */
  }
